<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
</head>
<body class="bg-violet-400">
    <div class="absolute top-0 w-full mt-8 text-center bg-violet-900">
        <h1 class=" text-5xl " style="font-family: 'Nabla'">Welcome to Library Management System</h1>
    </div>
    <div class="h-screen flex justify-center items-center">
        <div class="grid grid-cols-1 gap-10 text-lg text-black">
            <a href="viewbooks/" class="bg-blue-500 rounded-lg px-5 py-3 text-center shadow-lg hover:bg-blue-600">View Books</a>
            <a href="reservebooks/" class="bg-blue-500 rounded-lg px-5 py-3 text-center shadow-lg hover:bg-blue-600">Reserve Books</a>
            <a href="cancel/" class="bg-blue-500 rounded-lg px-5 py-3 text-center shadow-lg hover:bg-blue-600">Cancel Books</a>
            <a href="viewreservations/" class="bg-blue-500 rounded-lg px-5 py-3 text-center shadow-lg hover:bg-blue-600">View Reservations</a>
        </div>
    </div>
</body>
</html>