<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reserve Books</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body style = "background-color: #FECD70; font-family: 'poppins';">
    <div class="absolute top-0 w-full mt-8 text-center bg-violet-900">
        <h1 class=" text-5xl " style="font-family: 'Nabla'">Reserve Books</h1>
    </div>
    <div class="h-screen flex justify-center items-center">
        <form action="" method="post" class="w-full max-w-lg">
            {% csrf_token %}
            <div class="flex justify-around px-5 py-3  bg-blue-500 ">
                <label for="book_isbn" class="w-[150px]">Book ISBN</label>
                <input type="text" name="book_isbn" id="book_isbn" placeholder="Enter book isbn">
            </div>
            <div class="flex justify-around px-5 py-3 bg-blue-500 ">
                <label for="user_email" class="w-[150px]">Guest User Email</label>
                <input type="email" name="user_email" id="user_email" placeholder="Enter your email">
            </div>
            <div class="flex justify-around px-5 py-3 bg-blue-500 ">
                <label for="phono" class="w-[150px]">Phone Number</label>
                <input type="number" name="phono" id="phono" placeholder="Enter phone no.">
            </div>
            <div class="flex justify-around px-5 py-3  bg-blue-500 ">
                <label for="user_name" class="w-[150px]">Guest User Name</label>
                <input type="text" name="user_name" id="user_name" placeholder="Enter user name">
            </div>
            <div class="flex justify-center">
                <button type="submit" class="px-5 py-3 bg-red-500 rounded-lg text-center shadow-lg hover:bg-blue-600">Reserve</button>
            </div>
            
        </form>
    </div>
</body>
</html>