<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <table class="w-full">
        <tr class="w-1/2 bg-indigo-300">
            <th class="p-2 text-center">Reserver ID</th>
            <th class="p-2 text-center">Name</th>
            <th class="p-2 text-center pr-4">ISBN</th>
            <th class="p-2 text-center pr-4">Mail</th>
            <th class="p-2 text-center pr-4">Phone</th>
            <th class="p-2 text-center pr-4">status</th>
        </tr>
        {% for user in users %}
        <tr class="">
            <td class="p-2">{{user.resver_id}}</td>
            <td class="p-2 text-center">{{user.name}}</td>
            <td class="p-2 text-center">{{user.isbn}}</td>
            <td class="p-2 text-center">{{user.mail_id}}</td>
            <td class="p-2 text-center">{{user.phno}}</td>
            <td class="p-2 text-center">{{user.status}}</td>
        </tr>
        {% endfor %}
        
       
    </table>
    
</body>
</html>